@charset "UTF-8";
/* ===============================================
# フォント
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
/* ===============================================
# フォント
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
* ::-moz-selection {
  background: #21054d;
  color: #fff;
}
* ::selection {
  background: #21054d;
  color: #fff;
}

* ::-moz-selection {
  background: #21054d;
  color: #fff;
}

body p {
  font-size: 16px;
  font-family: "ヒラギノ角ゴシック";
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #333;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.container {
  padding: 70px 20px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.scroll {
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 70px;
}

@media screen and (max-width: 770px) {
  .scroll {
    right: 30px;
  }
}

.scroll::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 70px;
  background: #fff;
  -webkit-animation: scroll .9s ease-in-out infinite;
          animation: scroll .9s ease-in-out infinite;
}

@-webkit-keyframes scroll {
  0% {
    height: 70px;
    top: 0;
  }
  100% {
    height: 0;
    top: 70px;
  }
}

@keyframes scroll {
  0% {
    height: 70px;
    top: 0;
  }
  100% {
    height: 0;
    top: 70px;
  }
}

.scroll span {
  position: absolute;
  top: -40px;
  right: -25px;
  color: #fff;
  font-size: 12px;
  text-orientation: mixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.menu {
  display: none;
}

@media screen and (max-width: 770px) {
  .menu {
    display: block;
  }
}

.menu.is-open span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  top: 35%;
}

.menu.is-open span:nth-of-type(2) {
  opacity: 0;
}

.menu.is-open span:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  top: 62%;
}

.menu-btn {
  width: 50px;
  height: 50px;
  position: relative;
}

.menu-btn span {
  width: 50%;
  height: 2px;
  display: inline-block;
  background: #fff;
  position: absolute;
  left: 24%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
}

.menu-btn span:nth-of-type(1) {
  top: 30%;
}

.menu-btn span:nth-of-type(2) {
  top: 50%;
}

.menu-btn span:nth-of-type(3) {
  top: 70%;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#header.is-open {
  height: 100%;
  background: linear-gradient(135deg, #7633a4, #250d65);
}

#header.is-open .logo {
  display: none;
}

#header.is-open nav {
  display: block;
  position: absolute;
  top: 35%;
}

#header.is-open nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header.is-open nav ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

#header.is-open .header--inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header.is-open .menu {
  position: absolute;
  top: 0;
  right: 30px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
/* ===============================================
# ボタン共通
=============================================== */
.btn {
  width: 220px;
  height: 55px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.btn:hover span::after {
  right: -45px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn span {
  color: #fff;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 65px;
}

.btn span::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  content: "▶";
  position: absolute;
  top: 1px;
  right: -40px;
}

/* ===============================================
# contact ボタン
=============================================== */
.btn-contact {
  border: solid 1px #fff;
}

.btn-contact:hover span {
  color: #CCCCCC;
  -webkit-transition: .5s;
  transition: .5s;
}

/* ===============================================
# MORE ボタン
=============================================== */
.btn-morer::before, .btn-morer::after {
  content: "";
  display: inline-block;
  width: 220px;
  height: 55px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn-morer::before {
  background: -webkit-gradient(linear, left top, right top, from(#7633A4), to(#21054d));
  background: linear-gradient(to right, #7633A4, #21054d 100%);
  z-index: -1;
}

.btn-morer::after {
  background: -webkit-gradient(linear, right top, left top, from(#7633A4), to(#21054d));
  background: linear-gradient(to left, #7633A4, #21054d 100%);
  z-index: -2;
}

.btn-morer:hover::before {
  opacity: 0;
}

.btn-morer:hover span::after {
  right: -55px;
}

.btn-morer span {
  left: 80px;
}

.btn-morer span::after {
  right: -50px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#header {
  width: 100%;
  height: 86px;
  position: fixed;
  z-index: 100;
  padding-top: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 770px) {
  #header {
    padding-top: 10px;
  }
}

#header.is-active {
  background-color: #21054d;
  height: 64px;
}

@media screen and (max-width: 770px) {
  #header .logo {
    width: 120px;
  }
}

#header .logo a {
  display: inline-block;
}

#header .logo a img {
  width: 100%;
}

#header nav {
  text-align: right;
}

@media screen and (max-width: 770px) {
  #header nav {
    display: none;
  }
}

#header nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

#header nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#header nav a:hover::after {
  width: 100%;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header ul li {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#header a {
  color: #fff;
}

.header--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
footer {
  background: #120e19;
  padding: 60px 30px;
  text-align: center;
}

footer > p {
  color: #a798b7;
  font-size: 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 770px) {
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 770px) {
  footer ul li {
    padding-bottom: 20px;
  }
}

footer ul a {
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}

footer ul a:hover {
  color: #808080;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.title {
  font-family: "Montserrat";
  font-size: 36px;
  color: #391E88;
}

.title h2 {
  padding-bottom: 5px;
}

@media screen and (max-width: 770px) {
  .title h2 {
    font-size: 30px;
  }
}

.title p {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: bold;
}

.title-service, .title-works, .title-company, .title-recruit, .title-contact {
  text-align: center;
  margin-bottom: 30px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
/* ===============================================
# 自分で考えて作る
=============================================== */
/* ===============================================
# 調べて作る
=============================================== */
.slider {
  width: 60%;
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 770px) {
  .slider {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.slider--image div:nth-of-type(1) {
  display: block;
}

.slider--image div:nth-of-type(2) {
  display: none;
}

.slider--image div:nth-of-type(3) {
  display: none;
}

.slider--image div img {
  width: 100%;
}

/* ===============================================
# 左右の矢印
=============================================== */
.slider--btn > div {
  display: inline-block;
  position: absolute;
  top: 50%;
}

.slider--btn span {
  width: 25px;
  height: 25px;
  display: block;
  border-top: solid 6px #391E88;
  border-right: solid 6px #391E88;
}

.slider--btn .slider--btn-left {
  left: 5%;
}

.slider--btn .slider--btn-left span {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider--btn .slider--btn-right {
  right: 5%;
}

.slider--btn .slider--btn-right span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* ===============================================
# 下の丸
=============================================== */
.slider--dot {
  text-align: right;
}

.slider--dot span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #c0c0c0;
  margin-right: 3px;
}

.slider--dot span.is-active {
  background: #391E88;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.scroll_top {
  display: none;
  background-color: #f0f0f0;
  border-radius: 50%;
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 50;
}

.scroll_top.is-active {
  display: block;
}

.scroll_top a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 16px 17px;
}

.scroll_top a span {
  font-weight: bold;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.page_title {
  height: 240px;
  background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: "Montserrat";
  text-align: center;
  padding: 50px 40px 10px 40px;
}

.page_title h2 {
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.page_title p {
  font-size: 13px;
}

.pankuzu {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  z-index: 50;
}

.pankuzu p {
  font-family: "Montserrat";
  font-size: 12px;
  max-width: 1100px;
  padding: 5px 15px;
  margin: 0 auto;
}

.pankuzu p a {
  color: #21054d;
}

.pankuzu p a:hover {
  border-bottom: solid 1px #21054d;
}

.pankuzu p span {
  padding: 0 15px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.contact {
  text-align: center;
  background-color: #f0f0f0;
  padding: 80px 0;
}

.contact > p {
  font-family: "Montserrat";
  padding-bottom: 20px;
}

@media screen and (max-width: 770px) {
  .contact > p {
    font-size: 14px;
    line-height: 1.8;
  }
}

.contact > p br {
  display: none;
}

@media screen and (max-width: 770px) {
  .contact > p br {
    display: block;
  }
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#top {
  /* ===============================================
  # NEWS
  =============================================== */
  /* ===============================================
  # SERVICE
  =============================================== */
  /* ===============================================
  # WORKS
  =============================================== */
  /* ===============================================
  # COMPANY
  =============================================== */
  /* ===============================================
  # RECRUIT
  =============================================== */
}

#top .kv {
  height: 100vh;
  background-image: url(../images/top.png);
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
  color: #fff;
}

#top .kv .kv--title {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 770px) {
  #top .kv .kv--title {
    width: 88%;
    text-align: left;
  }
}

#top .kv .kv--title > p:first-of-type {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 30px;
}

@media screen and (max-width: 770px) {
  #top .kv .kv--title > p:first-of-type {
    font-size: 40px;
  }
}

#top .kv .kv--title > p:nth-of-type(2) {
  font-size: 25px;
  padding-bottom: 50px;
}

@media screen and (max-width: 770px) {
  #top .kv .kv--title > p:nth-of-type(2) {
    font-size: 16px;
    line-height: 1.8rem;
  }
}

#top .kv .kv--title > p:nth-of-type(2) br {
  display: none;
}

@media screen and (max-width: 770px) {
  #top .kv .kv--title > p:nth-of-type(2) br {
    display: block;
  }
}

#top .kv br {
  display: none;
}

#top .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 917px;
  font-family: "Montserrat";
}

@media screen and (max-width: 770px) {
  #top .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
  }
}

#top .title-news {
  padding-right: 50px;
}

@media screen and (max-width: 770px) {
  #top .title-news {
    text-align: center;
    padding-right: 0;
    padding-bottom: 30px;
  }
}

#top .news-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 770px) {
  #top .news-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

#top .news-list li time {
  font-size: 14px;
  padding-right: 20px;
}

#top .news-list li .news-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  #top .news-list li .news-list-block {
    margin-bottom: 5px;
  }
}

#top .news-list li .news-list-block > div {
  padding: 5px 15px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  width: 82px;
  height: 22px;
  background: #E8E8E8;
  border-radius: 10px;
}

@media screen and (max-width: 770px) {
  #top .news-list li .news-list-block > div {
    font-size: 11px;
  }
}

#top .news-list li a {
  padding-left: 20px;
}

@media screen and (max-width: 770px) {
  #top .news-list li a {
    padding: 0;
  }
}

#top .news-list li a p {
  letter-spacing: .1rem;
}

@media screen and (max-width: 770px) {
  #top .news-list li a p {
    font-size: 14px;
  }
}

#top .service {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

#top .service--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (max-width: 770px) {
  #top .service--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#top .service--list--block {
  margin-right: 30px;
  text-align: center;
}

@media screen and (max-width: 770px) {
  #top .service--list--block {
    margin-right: 0;
  }
}

#top .service--list--block img {
  width: 100%;
  margin-bottom: 15px;
}

#top .service--list--block p {
  font-family: "Montserrat";
}

#top .service--list--block p:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

#top .service--list--block p:nth-of-type(2) {
  font-size: 15px;
  text-align: left;
  text-align: justify;
  line-height: 1.8;
}

@media screen and (max-width: 770px) {
  #top .service--list--block p:nth-of-type(2) {
    padding-bottom: 40px;
  }
}

#top .works--outer {
  padding: 60px 0 40px 0;
}

#top .works {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 60px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  #top .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#top .works::after {
  content: "";
  width: 60%;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 770px) {
  #top .works::after {
    width: 100%;
  }
}

#top .works--text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

#top .works--text > p {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.8rem;
  padding-bottom: 30px;
}

#top .company {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1300px;
  text-align: center;
  background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/bg-circle.png), url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/bg-face.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 770px) {
  #top .company {
    padding: 60px 0;
    background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/sp_bg-circle.png);
    background-position: center center;
    background-size: 375px;
  }
}

#top .company > p {
  font-family: "Montserrat";
}

#top .company > p:nth-of-type(1) {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  display: inline-block;
}

@media screen and (max-width: 770px) {
  #top .company > p:nth-of-type(1) {
    font-size: 32px;
    line-height: 1.5;
  }
}

#top .company > p:nth-of-type(1) span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, #f5f534));
  background: linear-gradient(transparent 70%, #f5f534 0%);
}

#top .company > p:nth-of-type(1) br {
  display: none;
}

@media screen and (max-width: 770px) {
  #top .company > p:nth-of-type(1) br {
    display: block;
  }
}

#top .company > p:nth-of-type(2) {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

#top .company > p:nth-of-type(2) .br_sp {
  display: none;
}

@media screen and (max-width: 770px) {
  #top .company > p:nth-of-type(2) .br_sp {
    display: block;
  }
}

#top .recruit {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 770px) {
  #top .recruit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#top .recruit .recruit--text {
  background-color: #f0f0f0;
  text-align: center;
  padding: 70px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#top .recruit .recruit--text > p {
  margin-bottom: 30px;
  font-size: 15px;
  font-family: "Montserrat";
}

#top .recruit .recruit--image {
  width: 60%;
  background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/image.png);
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 770px) {
  #top .recruit .recruit--image {
    width: 100%;
    height: 200px;
  }
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#news .news--list {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px 15px;
}

#news .news--list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 770px) {
  #news .news--list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

#news .news--list li a {
  padding-left: 20px;
  letter-spacing: .1rem;
  line-height: 1.2rem;
}

#news .news--list li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 770px) {
  #news .news--list li a {
    padding: 0;
    font-size: 14px;
  }
}

#news .news--list time {
  font-size: 14px;
  padding-right: 20px;
}

#news .news-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  #news .news-list-block {
    margin-bottom: 5px;
  }
}

#news .news-list-block > div {
  background-color: #E8E8E8;
  width: 82px;
  height: 22px;
  padding: 5px 15px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  border-radius: 20px;
  margin: 0 20px;
}

@media screen and (max-width: 770px) {
  #news .news-list-block > div {
    font-size: 11px;
  }
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#service .business {
  max-width: 1140px;
  padding: 70px 15px;
  margin: 0 auto;
}

#service .business .business--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (max-width: 770px) {
  #service .business .business--block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#service .business .business--block-image {
  width: 40%;
}

@media screen and (max-width: 770px) {
  #service .business .business--block-image {
    width: 100%;
    margin-bottom: 20px;
  }
}

#service .business .business--block-image img {
  width: 100%;
}

#service .business .business--block-text {
  width: 60%;
  padding-left: 50px;
}

@media screen and (max-width: 770px) {
  #service .business .business--block-text {
    width: 100%;
    padding-left: 0;
  }
}

#service .business .business--block-text p {
  font-family: "Montserrat";
}

#service .business .business--block-text p:nth-of-type(1) {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

@media screen and (max-width: 770px) {
  #service .business .business--block-text p:nth-of-type(1) {
    text-align: center;
  }
}

#service .business .business--block-text p:nth-of-type(2) {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#works .achievement {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 15px;
}

@media screen and (max-width: 770px) {
  #works .achievement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#works .achievement .achievement--block {
  max-width: 360px;
  width: 30%;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 770px) {
  #works .achievement .achievement--block {
    width: 100%;
    max-width: 1200px;
    margin-right: 0;
  }
}

#works .achievement .achievement--block img {
  width: 100%;
  margin-bottom: 15px;
  border: solid 1px #ececec;
}

#works .achievement .achievement--block a {
  display: block;
}

#works .achievement .achievement--block a:hover {
  text-decoration: underline;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#company {
  /* ===============================================
  # メッセージ
  =============================================== */
  /* ===============================================
  # 会社概要
  =============================================== */
  /* ===============================================
  # Google map
  =============================================== */
}

#company .company {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1300px;
  text-align: center;
  background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/bg-circle.png), url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/bg-face.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 770px) {
  #company .company {
    padding: 60px 0;
    background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/sp_bg-circle.png);
    background-position: center center;
    background-size: 375px;
  }
}

#company .company > p {
  font-family: "Montserrat";
}

#company .company > p:nth-of-type(1) {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  display: inline-block;
}

@media screen and (max-width: 770px) {
  #company .company > p:nth-of-type(1) {
    font-size: 32px;
    line-height: 1.5;
  }
}

#company .company > p:nth-of-type(1) span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, #f5f534));
  background: linear-gradient(transparent 70%, #f5f534 0%);
}

#company .company > p:nth-of-type(1) br {
  display: none;
}

@media screen and (max-width: 770px) {
  #company .company > p:nth-of-type(1) br {
    display: block;
  }
}

#company .company > p:nth-of-type(2) {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

#company .company > p:nth-of-type(2) .br_sp {
  display: none;
}

@media screen and (max-width: 770px) {
  #company .company > p:nth-of-type(2) .br_sp {
    display: block;
  }
}

#company .ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 140px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 770px) {
  #company .ceo .ceo--image {
    width: 100%;
  }
}

#company .ceo .ceo--image img {
  width: 100%;
}

#company .ceo .ceo--text {
  padding-left: 50px;
  font-size: 15px;
  font-family: "Montserrat";
}

@media screen and (max-width: 770px) {
  #company .ceo .ceo--text {
    padding-left: 0;
  }
}

#company .ceo .ceo--text p {
  line-height: 1.8;
}

#company .ceo .ceo--text p:nth-of-type(1) {
  padding-bottom: 20px;
}

#company .ceo .ceo--text p:nth-of-type(2) {
  padding-bottom: 20px;
}

#company .overview {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#company .overview li {
  font-family: "Montserrat";
  font-size: 15px;
  border-bottom: solid 2px #E8E8E8;
  padding: 30px 10px;
}

@media screen and (max-width: 770px) {
  #company .overview li {
    font-size: 14px;
    padding: 20px 15px;
  }
}

#company .overview li span {
  font-weight: bold;
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 770px) {
  #company .overview li span {
    display: block;
    padding-bottom: 15px;
  }
}

#company .map {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 110px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#recruit {
  /* ===============================================
  # 募集中の職種
  =============================================== */
  /* ===============================================
  # 社内ムービー
  =============================================== */
}

#recruit main {
  background-image: url(/Users/akedotaichi/Desktop/2022.07.15課題/kadai/images/bg-geometry.png);
  background-repeat: repeat;
}

#recruit .recruit--catch_copy {
  text-align: center;
  padding: 100px 15px 40px 15px;
}

@media screen and (max-width: 770px) {
  #recruit .recruit--catch_copy {
    padding-top: 40px;
  }
}

#recruit .recruit--catch_copy ::-moz-selection {
  background: #391E88;
}

#recruit .recruit--catch_copy ::selection {
  background: #391E88;
}

#recruit .recruit--catch_copy p {
  font-family: "Montserrat";
}

#recruit .recruit--catch_copy p:nth-of-type(1) {
  font-size: 72px;
  font-weight: bold;
  color: #391E88;
  padding-bottom: 10px;
}

@media screen and (max-width: 770px) {
  #recruit .recruit--catch_copy p:nth-of-type(1) {
    font-size: 48px;
  }
}

#recruit .recruit--catch_copy p:nth-of-type(2) {
  font-size: 32px;
  color: #391E88;
  padding-bottom: 20px;
}

@media screen and (max-width: 770px) {
  #recruit .recruit--catch_copy p:nth-of-type(2) {
    font-size: 18px;
  }
}

#recruit .recruit--catch_copy p:nth-of-type(3) {
  font-size: 16px;
  line-height: 1.8;
}

#recruit .recruit--kv {
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 70px;
}

#recruit .recruit--kv img {
  width: 100%;
}

#recruit .wanted--outer {
  padding: 0 15px;
}

@media screen and (max-width: 770px) {
  #recruit .wanted--outer .title h2 {
    font-size: 24px;
  }
}

#recruit .wanted {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px;
  border: solid 1px #b067cf;
  border-radius: 6px;
  padding: 60px 95px;
  text-align: center;
}

@media screen and (max-width: 770px) {
  #recruit .wanted {
    padding: 30px 20px;
    margin-bottom: 80px;
  }
}

#recruit .wanted > p {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 770px) {
  #recruit .wanted > p {
    font-size: 16px;
  }
}

#recruit .wanted > p:nth-of-type(2) {
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
}

#recruit .wanted ul {
  text-align: left;
  margin-bottom: 50px;
}

#recruit .wanted ul li {
  border-bottom: solid 1px #ddd;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 770px) {
  #recruit .wanted ul li {
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.8;
  }
}

#recruit .wanted ul li span {
  font-weight: bold;
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 770px) {
  #recruit .wanted ul li span {
    padding-bottom: 5px;
  }
}

#recruit .movie {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 110px;
}

@media screen and (max-width: 770px) {
  #recruit .movie {
    padding-bottom: 80px;
  }
}

#recruit .movie .movie--youtube {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

#recruit .movie .movie--youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#contact {
  font-family: "Montserrat";
  line-height: 1.8;
}

#contact .contact--inner {
  max-width: 780px;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}

#contact .contact--inner span {
  font-size: 12px;
  font-weight: bold;
  color: #391E88;
  padding-left: 10px;
}

#contact .contact--inner > p {
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-size: 15px;
}

#contact .contact--inner > div {
  background-color: #f7f7f7;
  padding: 90px;
  text-align: left;
}

#contact .contact--inner .type p {
  font-weight: bold;
  font-size: 15px;
}

#contact .contact--inner .name input, #contact .contact--inner .company input, #contact .contact--inner .mail input, #contact .contact--inner .tel input {
  display: block;
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #aaa;
  background-color: #fff;
}

#contact .contact--inner .name label, #contact .contact--inner .company label, #contact .contact--inner .mail label, #contact .contact--inner .tel label {
  margin-bottom: 30px;
}

#contact .contact--inner .tel input {
  width: 35%;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}

#contact .contact--inner textarea {
  display: block;
  width: 100%;
  height: 200px;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #aaa;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */