@charset "UTF-8";
/* ===============================================
# フォント
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
/* ===============================================
# フォント
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
body p {
  font-size: 16px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #333;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.container {
  padding: 0 15px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.scroll {
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 70px;
}

.scroll::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 70px;
  background: #fff;
  -webkit-animation: scroll .9s ease-in-out infinite;
          animation: scroll .9s ease-in-out infinite;
}

@-webkit-keyframes scroll {
  0% {
    height: 70px;
    top: 0;
  }
  100% {
    height: 0;
    top: 70px;
  }
}

@keyframes scroll {
  0% {
    height: 70px;
    top: 0;
  }
  100% {
    height: 0;
    top: 70px;
  }
}

.scroll span {
  position: absolute;
  top: -40px;
  right: -25px;
  color: #fff;
  font-size: 12px;
  text-orientation: mixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.menu {
  display: none;
}

@media screen and (max-width: 769px) {
  .menu {
    display: block;
  }
}

.menu.is-open span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  top: 35%;
}

.menu.is-open span:nth-of-type(2) {
  opacity: 0;
}

.menu.is-open span:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  top: 62%;
}

.menu-btn {
  width: 50px;
  height: 50px;
  position: relative;
}

.menu-btn span {
  width: 50%;
  height: 2px;
  display: inline-block;
  background: #fff;
  position: absolute;
  left: 24%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
}

.menu-btn span:nth-of-type(1) {
  top: 30%;
}

.menu-btn span:nth-of-type(2) {
  top: 50%;
}

.menu-btn span:nth-of-type(3) {
  top: 70%;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#header.is-open {
  height: 100%;
  background: linear-gradient(135deg, #7633a4, #250d65);
}

#header.is-open .logo {
  display: none;
}

#header.is-open nav {
  display: block;
  position: absolute;
  top: 35%;
}

#header.is-open nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header.is-open nav ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

#header.is-open .header-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header.is-open .menu {
  position: absolute;
  top: 0;
  right: 30px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
.btn-outer {
  display: inline-block;
  color: #fff;
}

.btn-outer:hover p::after {
  right: 13%;
}

.btn {
  width: 220px;
  height: 55px;
  border-radius: 30px;
  padding-top: 20px;
  position: relative;
}

.btn p::after {
  position: absolute;
  top: 38%;
  right: 15%;
}

.btn-contact {
  border: solid 1px #fff;
  margin: 0 auto;
  font-family: "Montserrat";
}

.btn-contact p {
  font-size: 13px;
  font-weight: bold;
}

.btn-contact p::after {
  content: '▶';
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#header {
  width: 100%;
  height: 86px;
  position: fixed;
  z-index: 100;
  padding-top: 20px;
}

#header.is-active {
  background-color: #21054d;
  height: 64px;
}

#header nav {
  text-align: right;
}

@media screen and (max-width: 770px) {
  #header nav {
    display: none;
  }
}

#header nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

#header nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#header nav a:hover::after {
  width: 100%;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header ul li {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#header a {
  color: #fff;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* ===============================================
# フォント
=============================================== */
/* ===============================================
# フォントサイズ
=============================================== */
/* ===============================================
# 色
=============================================== */
#top .top-visual {
  height: 100vh;
  background-image: url(../images/top.png);
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
  color: #fff;
}

#top .top-visual .title {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#top .top-visual .title > p:first-of-type {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 30px;
}

#top .top-visual .title > p:nth-of-type(2) {
  font-size: 25px;
  padding-bottom: 50px;
}

#top .top-visual br {
  display: none;
}
/*# sourceMappingURL=style.css.map */