@import "../global/variables";

footer{
  background: $color-footer_bg;
  padding: 60px 30px;
  text-align: center;

  >p{
    color:#a798b7;
    font-size: 10px;
  }

  ul{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @media screen and (max-width:770px){
      flex-wrap: wrap;
    }

    li{
      @media screen and (max-width:770px){
        padding-bottom: 20px;
      }
    }

    a{
      color:$color-white;
      padding: 5px 10px;
      font-size: 12px;

      &:hover{
        color: #808080;
      }
    }
  }
}