@import "../global/variables";

.title{
  font-family: "Montserrat";
  font-size:36px;
  color:$color-main;

  h2{
    padding-bottom: 5px;

    @media screen and (max-width:770px){
      font-size: 30px;
    }
  }

  p{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: bold;
  }
}

.title-service,.title-works,.title-company,.title-recruit,.title-contact{
  text-align: center;
  margin-bottom: 30px;
}
