@import "../global/variables";

.title{
  font-family: "Montserrat";
  font-size:$fs-title;
  color:$color-main;

  h2{
    padding-bottom: 5px;
  }
}

.title-service,.title-works{
  text-align: center;
  margin-bottom: 30px;
}
