@import "../global/variables";

#contact{
  font-family: "Montserrat";
  line-height: 1.8;

  .contact--inner{
    max-width: 780px;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;

    span{
      font-size: 12px;
      font-weight: bold;
      color: $color-main;
      padding-left: 10px;
    }

    >p{
      padding-bottom: 40px;
      font-family: "Montserrat";
      font-size: 15px;
    }

    >div{
      background-color: $color-form;
      padding: 90px;
      text-align: left;
    }

    .type{

      p{
        font-weight: bold;
        font-size: 15px;
      }
    }

    .name,.company,.mail,.tel{

      input{
        display: block;
        width: 50%;
        padding: 8px;
        border-radius: 5px;
        border: solid 1px #aaa;
        background-color: $color-white;
      }

      label{
        margin-bottom: 30px;
      }
    }

    .tel{
      input{
        width: 35%;
        padding: 8px;
        border-radius: 5px;
        background-color: $color-white;
      }
    }

    textarea{
      display: block;
      width: 100%;
      height: 200px;
      padding: 8px;
      border-radius: 5px;
      border: solid 1px #aaa;
      background-color: $color-white;
    }
  }
}