@import "../global/variables";

#top{

  .top-visual{
    height: 100vh;
    background-image: url(../images/top.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: $color-white;

    .title{
      width: 100%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      > p{

        &:first-of-type{
          font-family: "Montserrat";
          font-size: 72px;
          font-weight: bold;
          padding-bottom: 30px;
        }

        &:nth-of-type(2){
          font-size: 25px;
          padding-bottom: 50px;
        }
      }
  
    }

    br{
      display: none;
    }
  }
}